/* Kart bileşeni */
.CarCard {
    margin-bottom: 20px;
  }
  
  /* Kart içeriği */
  .CarCardContent {
    padding: 20px;
  }
  
  /* Başlık */
  .CarCardTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Metin */
  .CarCardText {
    font-size: 16px;
    line-height: 1.5;
    color: #6c757d;
  }
  
  /* Buton */
  .CarCardButton {
    padding: 10px 20px;
    background-color: #007bff; /* Butonun arka plan rengi */
    color: #fff; /* Buton metin rengi */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Butonun hover efekti */
  .CarCardButton:hover {
    background-color: #0056b3; /* Butonun hover rengi */
  }
  